*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.vertical {
    position: absolute;
    top: 2vw;
    left: 2vw;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

#grid {
    display: grid;
    width: 34vw;
    height: 22vw;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "hobby works works"
        "snippets experience me";
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    z-index: 10;
}

.square {
    background-color: transparent;
    border: 1px solid darkcyan;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.square.content {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    display: none;
}

#hobby {
    grid-area: hobby;
}

#works {
    grid-area: works;
}

#contents {
    grid-area: contents;
}

#snippets {
    grid-area: snippets;
}

#snippets .square-front {
    background-image: url("../img/code.jpg");
    background-size: cover;
}

#experience {
    grid-area: experience;
}

#experience .square-front {
    background-image: url("../img/cravatta.jpg");
    background-size: cover;
}

#me {
    grid-area: me;
}

.square-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.square:hover .square-inner {
    transform: rotateY(180deg);
}

.square-front,
.square-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.square-front {
    background-color: #bbb;
    color: black;
}

.square-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.square-content {
    display: none;
}

.modal-inner h3 {
    color: darkcyan;
    padding-top: 1em;
}

.modal-inner h4 {
    padding-bottom: .3em;
    border-bottom: 1px solid #EFEFEF;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    opacity: 0;
    -webkit-transition: opacity .2s, visibility .2s;
    -moz-transition: opacity .2s, visibility .2s;
    -ms-transition: opacity .2s, visibility .2s;
    -o-transition: opacity .2s, visibility .2s;
    transition: opacity .2s, visibility .2s;
}

#modal.open {
    display: flex;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
}

#modal #close {
    position: absolute;
    top: 1vw;
    right: 1vw;
}

#modal .modal-content {
    position: relative;
    width: 34vw;
    height: 22vw;
    margin: auto;
    background-color: white;
    border: 1px solid #EFEFEF;
    padding: 1vw;
}