*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.vertical {
    position: absolute;
    top: 2vw;
    left: 2vw;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

#grid {
    display: grid;
    width: 34vw;
    height: 22vw;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "hobby works works"
        "snippets experience me";
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
}

.square {
    background-color: transparent;
    border: 1px solid darkcyan;
}

.square.content {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    display: none;
}

#hobby {
    grid-area: hobby;
}

#works {
    grid-area: works;
}

#contents {
    grid-area: contents;
}

#snippets {
    grid-area: snippets;
}

#experience {
    grid-area: experience;
}

#me {
    grid-area: me;
}

.square-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.square:hover .square-inner {
    transform: rotateY(180deg);
}

.square-front,
.square-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.square-front {
    background-color: #bbb;
    color: black;
}

.square-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}